<section id="home" class="h-fit bg-red-100 flex items-center justify-center flex-row">
 <div class=" flex">
        <h1>this is the writing section</h1>
 </div>
 <div>
    <h1> this is phot sections</h1>
 </div>
</section>

<section id="about" class="h-screen bg-green-100 flex items-center justify-center">
  <h1>About Section</h1>
</section>

<section id="services" class="h-screen bg-blue-100 flex items-center justify-center">
  <h1>Services Section</h1>
</section>

<section id="contact" class="h-screen bg-yellow-100 flex items-center justify-center">
  <h1>Contact Section</h1>
</section>